[project]
	description = Finagle SSL/TLS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Panos Zhu (zhupan)
[access "refs/for/refs/*"]
	read = group user/Panos Zhu (zhupan)
	push = group user/Panos Zhu (zhupan)
	label-Code-Review = -2..+2 group user/Panos Zhu (zhupan)
	label-Verified = -1..+1 group user/Panos Zhu (zhupan)
	rebase = group user/Panos Zhu (zhupan)
	removeReviewer = group user/Panos Zhu (zhupan)
	submit = group user/Panos Zhu (zhupan)
[access "refs/heads/*"]
	read = group user/Panos Zhu (zhupan)
	create = group user/Panos Zhu (zhupan)
	push = +force group user/Panos Zhu (zhupan)
	pushMerge = group user/Panos Zhu (zhupan)
[access "refs/tags/*"]
	push = +force group user/Panos Zhu (zhupan)
	pushTag = group user/Panos Zhu (zhupan)
	pushSignedTag = group user/Panos Zhu (zhupan)
